/* styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}


.main-container{
    background-color: #000000;
    min-height: 100vh;
    padding-top: 200px; /* Adjust based on the height of your header */
    padding-bottom: 20px;
    color: #FFFFFF;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {

    .main-container{
        background-color: #000000;
        min-height: 100vh;
        padding-top: 100px; /* Adjust based on the height of your header */
        padding-bottom: 20px;
        color: #FFFFFF;
    }
  }
  
  /* For tablets */
  @media only screen and (max-width: 768px) {
    .main-container{
        background-color: #000000;
        min-height: 100vh;
        padding-top: 100px; /* Adjust based on the height of your header */
        padding-bottom: 20px;
        color: #FFFFFF;
    }
  }

